
<div class="shell-container">

  <header class="topbar">

  TOPBAR

  </header>
  <div class="shell">


    <div class="shell-navigation">
      <nav class="navigation">
        <tree-root #tree [nodes]="nodes" [options]="options" (activate)="onTreeActivate($event)"></tree-root>
      </nav>
      <div style="flex-grow:1;display:flex;">
        ADMINISTRATION
      </div>
  </div>

    <div class="main">
        <app-breadcrumb [pages]="pages"></app-breadcrumb>
        <app-page [page]="page"></app-page> 
    </div>
  </div>
</div>